body {
  background-color: #1a1a1a; 
  font-family: 'Balatro';
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}



h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.8rem;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 0 0 15px rgba(255,255,255,0.3);
}

#decktable {
    display: flex;
    flex-direction: column; /* each suit is a row stacked vertically */
    gap: 15px;
    align-items: center; /* center rows horizontally */
}

.card-img {
    width: 80px;
    height: auto;      /* maintain aspect ratio */
    flex: 0 0 auto;    /* prevent flex from stretching the image */
}


.suit-row {
    display: flex;
    flex-direction: row; /* cards go in a row */
    flex-wrap: wrap;     /* wrap if too many cards for width */
    gap: 10px;
    justify-content: center;
    align-items: flex-start; /* prevent stretching of images */
}

@font-face {
  font-family: 'Balatro';
  src: url("../fonts/m6x11.woff2") format("truetype");
  
}